<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="description 1, description 2">
    <meta name="keywords" content="business">
    <meta name="author" content="Bao Nhan - Tan Tu">
    <meta name="MobileOptimized" content="320">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
   
   
    <link rel="shortcut icon" type="image/png" href="">
    <title>Cổng thông tin điện tử - SỞ CÔNG THƯƠNG HỘI AN</title>
</head>
<body>
    
</body>
</html>