<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="description 1, description 2">
  <meta name="keywords" content="business">
  <meta name="author" content="Bao Nhan - Tan Tu">
  <meta name="MobileOptimized" content="320">

  <!-- file syle ở dưới vì đôi khi cần ghi đè bootstrap hoặc thư viện css khác,
     quy tắt là ưu tiên trên xuống dưới -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="shortcut icon" type="image/png" href="">
  <title>Cổng thông tin điện tử - SỞ CÔNG THƯƠNG HỘI AN</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-banner">
        <div class="row">

          <div class="navbar__web">
            <div class="img-banner">
              <img src="../assets/images/home/header-banner.jpg" alt="...">
            </div>
            <nav class="nav">
              <a class="nav-link active" aria-current="page" href="#">TRANG CHỦ</a>
              <a class="nav-link" href="#">GIỚI THIỆU CHUNG</a>
              <a class="nav-link" href="#">TRA CỨU VĂN BẢN</a>
              <a class="nav-link" href="#">DỊCH VỤ CÔNG TRỰC TUYẾN</a>
              <a class="nav-link" href="#">THÔNG TIN, THÔNG BÁO</a>
            </nav>
          </div>
          <div class="navbar__mobile">
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="home__main row">
        <div class="left_home col-lg-9">
          <section class="news">
            <div class="row">

              <div class="content__news col-lg-8">
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="info">
                        <div class="image">
                          <img src="../assets/images/home/sliders/news-1.jpg" alt="...">
                        </div>
                        <div class="content">
                          <a href="#">
                            <p class="title">Title</p>
                          </a>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, quo!</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
              <div class="newest col-lg-4">
                <div class="newest-header">
                  <div class="bg-header">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Tin mới</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Đọc nhiều</a>
                      </li>
                    </ul>
                  </div>
                  <div class="newest-list">
                    <div class="hot-news">
                      <div class="scroll-hot-news">
                        <ul class="lists pt-2">
                          <li>
                            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, sint.</a>
                          </li>
                          <li>
                            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, sint.</a>
                          </li>
                          <li>
                            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, sint.</a>
                          </li>
                          <li>
                            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, sint.</a>
                          </li>
                          <li>
                            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, sint.</a>
                          </li>
                        </ul>
                      </div>
                      <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
                        <div class="mCSB_draggerContainer">
                          <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 140px; max-height: 260px; top: 0px;">
                            <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                          </div>
                          <div class="mCSB_draggerRail"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="commerce">
            <div class="content__commerce">
              <div class="heading__commerce">
                <h3>Title</h3>
              </div>
              <div class="main__commerce">
                <ul class="list_tabs">
                  <li><a href="">Item</a></li>
                  <li><a href="">Item</a></li>
                  <li><a href="">Item</a></li>
                  <li><a href="">Item</a></li>
                  <li><a href="">Item</a></li>
                </ul>
                <div class="tab_content">
                  <div class="tab_content_item">
                    ...
                  </div>
                </div>
                <div class="btn_view_all">
                  <button>Xem tất cả</button>
                </div>
              </div>
            </div>
          </section>
          <section class="industry">
            <div class="content__industry">

            </div>
          </section>
        </div>
        <div class="right_home col-lg-3">
          <div class="sidebar_post row">
            <div class="col-md-6 col-lg-12">
              <div class="speaker__infor">
                <div class="heading_speaker">
                  <h3>Thông tin người phát ngôn</h3>
                </div>
                <div class="body_speaker">
                  <div class="item-infor">
                    <span>Họ và tên:</span>
                    Đặng Bá Dự
                  </div>
                  <div class="item-infor">
                    <span>Chức vụ:</span>
                    Giám đốc
                  </div>
                  <div class="item-infor">
                    <span>Số điện thoại:</span>
                    0905666999 (02353852641)
                  </div>
                  <div class="item-infor">
                    <span>Email:</span>
                    dudb@quangnam.gov.vn
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12">
              <div class="banner__images">
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_1.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_2.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_3.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_4.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_5.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_6.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_7.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
  <footer>
    <div class="container">
      <div class="footer__header">
        <div class="footer__header__link">
          <a href="#">Trang chủ</a>
          <span>|</span>
          <a href="#">Giới thiệu</a>
        </div>
      </div>
      <div class="footer__body">
        <div class="footer__body_left">
          <p class="footer__body_left__title">Portal: <span>Sở Công Thương Quảng Nam</span></p>
          <p class="footer__body_left__title">Đơn vị quản lý: </p><span>Sở Công Thương tỉnh Quảng Nam</span>
          <p class="footer__body_left__title">Chịu trách nhiệm chính: </p><span>Đặng Bá Dự - Giám đốc Sở</span>
          <div class="footer__body_left__contact-info">
            <p class="footer__body_left__title">Điện thoại: </p><span>(0235).3852 641</span>
            <p>-</p>
            <p class="footer__body_left__title">Fax: </p><span>(0235).3859130</span>
            <p>-</p>
            <p class="footer__body_left__title">Email: </p><span>socongthuongqnam@gmail.com - sct@quangnam.gov.vn</span>
          </div>
          <p>Ghi rõ nguồn congthuong.quangnam.gov.vn khi sử dụng thông tin trên website này.</p>
          <p>Giấy phép số 02/GP-TTĐT do Sở Thông tin và Truyền thông tỉnh Quảng Nam cấp ngày 21 tháng 4 năm 2020.</p>
        </div>
        <div class="footer__body_right">
          <div class="footer__body_right__item">
            <p>Tổng lượt truy cập</p>
            <p>225,586</p>
          </div>
          <div class="footer__body_right__item">
            <p>Truy cập trong ngày</p>
            <p>16</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/jquery-3.7.1.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/script.js"></script>
  <script src="../assets/js/swiper.js"></script>
</body>

</html>