<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="description 1, description 2">
  <meta name="keywords" content="business">
  <meta name="author" content="Bao Nhan - Tan Tu">
  <meta name="MobileOptimized" content="320">

  <!-- file syle ở dưới vì đôi khi cần ghi đè bootstrap hoặc thư viện css khác,
     quy tắt là ưu tiên trên xuống dưới -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="shortcut icon" type="image/png" href="">
  <title>Cổng thông tin điện tử - SỞ CÔNG THƯƠNG HỘI AN</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-banner"></div>
      <div class="navbar__web">
        <nav>
          <ul class="navbar__items">
            <li class="navbar__item navbar__item__active">
              TRANG CHỦ
            </li>
            <li class="navbar__item">
              GIỚI THIỆU CHUNG
            </li>
            <li class="navbar__item">
              TRA CỨU VĂN BẢN
            </li>
            <li class="navbar__item">
              DỊCH VỤ CÔNG TRỰC TUYẾN
            </li>
            <li class="navbar__item">
              THÔNG TIN, THÔNG BÁO
            </li>
          </ul>
        </nav>
      </div>
      <div class="navbar__mobile">

      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="left_home">
        <section class="news">
          <div class="content__news">
            ...
          </div>
        </section>
        <section class="commerce">
          <div class="content__commerce">
            <div class="heading__commerce">
              <h3>Title</h3>
            </div>
            <div class="main__commerce">
              <ul class="list_tabs">
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
              </ul>
              <div class="tab_content">
                <div class="tab_content_item">
                  ...
                </div>
              </div>
              <div class="btn_view_all">
                <button>Xem tất cả</button>
              </div>
            </div>
          </div>
        </section>
        <section class="industry">
          <div class="content__industry">

          </div>
        </section>
      </div>
      <div class="right_home">

      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="footer__header">
        <div class="footer__header__link">
          <a href="#">Trang chủ</a>
          <span>|</span>
          <a href="#">Giới thiệu</a>
        </div>
      </div>
      <div class="footer__body">
        <div class="footer__body_left">
          <p class="footer__body_left__title">Portal: <span>Sở Công Thương Quảng Nam</span></p>
          <p class="footer__body_left__title">Đơn vị quản lý: </p><span>Sở Công Thương tỉnh Quảng Nam</span>
          <p class="footer__body_left__title">Chịu trách nhiệm chính: </p><span>Đặng Bá Dự - Giám đốc Sở</span>
          <div class="footer__body_left__contact-info">
            <p class="footer__body_left__title">Điện thoại: </p><span>(0235).3852 641</span>
            <p>-</p>
            <p class="footer__body_left__title">Fax: </p><span>(0235).3859130</span>
            <p>-</p>
            <p class="footer__body_left__title">Email: </p><span>socongthuongqnam@gmail.com - sct@quangnam.gov.vn</span>
          </div>
          <p>Ghi rõ nguồn congthuong.quangnam.gov.vn khi sử dụng thông tin trên website này.</p>
          <p>Giấy phép số 02/GP-TTĐT do Sở Thông tin và Truyền thông tỉnh Quảng Nam cấp ngày 21 tháng 4 năm 2020.</p>
        </div>
        <div class="footer__body_right">
          <div class="footer__body_right__item">
            <p>Tổng lượt truy cập</p>
            <p>225,586</p>
          </div>
          <div class="footer__body_right__item">
            <p>Truy cập trong ngày</p>
            <p>16</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/jquery-3.7.1.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/script.js"></script>
</body>

</html>