<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="description 1, description 2">
  <meta name="keywords" content="business">
  <meta name="author" content="Bao Nhan - Tan Tu">
  <meta name="MobileOptimized" content="320">

  <!-- file syle ở dưới vì đôi khi cần ghi đè bootstrap hoặc thư viện css khác,
     quy tắt là ưu tiên trên xuống dưới -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;600;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="../assets/images/logo-header.png">
  <title>Cổng thông tin điện tử - SỞ CÔNG THƯƠNG HỘI AN</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-banner">
        <div class="row">
          <div class="navbar__web">
            <div class="img-banner">
              <img src="../assets/images/home/header-banner.jpg" alt="...">
            </div>
            <nav class="navbar_list">
              <ul class="list_item_nav">
                <li class="nav-link active"><a class="link-item" href="">TRANG CHỦ</a></li>
                <li class="nav-link contain_submenu">
                  <a class="link-item" href="">GIỚI THIỆU CHUNG</a>
                  <div class="sub_menu">
                    <ul>
                      <li><a href="post_categories.html">Danh mục bài viết</a></li>
                      <li><a href="post_categories_image.html">Danh mục chứa ảnh</a></li>
                      <li class="contain_submenu ">
                        <a href="">Bo Cong Thuong</a>
                        <div class="level_submenu">
                          <ul>
                            <li><a href="">Menu bac 3</a></li>
                            <li><a href="">Menu bac 3</a></li>
                            <li class="contain_submenu">
                              <a href="">Menu bac 3</a>
                              <div class="level_submenu">
                                <ul>
                                  <li><a href="">Menu bac 4</a></li>
                                  <li><a href="">Menu bac 4</a></li>
                                </ul>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-link"><a class="link-item" href="">TRA CỨU VĂN BẢN</a></li>
              <li class="nav-link"><a class="link-item" href="">DỊCH VỤ CÔNG TRỰC TUYẾN</a></li>
              <li class="nav-link"><a class="link-item" href="">THÔNG TIN, THÔNG BÁO</a></li>
              </ul>
            </nav>
          </div>
          <div class="navbar__mobile">
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="post__main row ms-0">
        <div class="left_post col-lg-9">
          <section class="infor_detail_post">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
              </ol>
            </nav>
            <div class="list_post_cate">
              <div class="item_post_cate">
                <div class="head_post_cate">
                  <h3>
                    <a href="post_detail.html">Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</a>
                  </h3>
                  <div class="calendar">
                    <span>24/11/2023 | 08:27 AM</span>
                  </div>
                  <div class="desc_post_cate">
                    <p>Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</p>
                  </div>
                  <div class="btn_view_post">
                    <a href="post_detail.html">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <div class="item_post_cate">
                <div class="head_post_cate">
                  <h3>
                    <a href="">Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</a>
                  </h3>
                  <div class="calendar">
                    <span>24/11/2023 | 08:27 AM</span>
                  </div>
                  <div class="desc_post_cate">
                    <p>Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</p>
                  </div>
                  <div class="btn_view_post">
                    <a href="">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <div class="item_post_cate">
                <div class="head_post_cate">
                  <h3>
                    <a href="">Sửa đổi, bổ sung Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở ban hành kèm theo Quyết định số 180/QĐ-SCT ngày 13/10/2022 của Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                  </h3>
                  <div class="calendar">
                    <span>24/11/2023 | 08:27 AM</span>
                  </div>
                  <div class="desc_post_cate">
                    <p>Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</p>
                  </div>
                  <div class="btn_view_post">
                    <a href="">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <div class="item_post_cate">
                <div class="head_post_cate">
                  <h3>
                    <a href="">Sửa đổi, bổ sung Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở ban hành kèm theo Quyết định số 180/QĐ-SCT ngày 13/10/2022 của Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                  </h3>
                  <div class="calendar">
                    <span>24/11/2023 | 08:27 AM</span>
                  </div>
                  <div class="desc_post_cate">
                    <p>Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</p>
                  </div>
                  <div class="btn_view_post">
                    <a href="">Xem chi tiết</a>
                  </div>
                </div>
              </div>
              <div class="item_post_cate">
                <div class="head_post_cate">
                  <h3>
                    <a href="">Sửa đổi, bổ sung Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở ban hành kèm theo Quyết định số 180/QĐ-SCT ngày 13/10/2022 của Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                  </h3>
                  <div class="calendar">
                    <span>24/11/2023 | 08:27 AM</span>
                  </div>
                  <div class="desc_post_cate">
                    <p>Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</p>
                  </div>
                  <div class="btn_view_post">
                    <a href="">Xem chi tiết</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination_post">
              <ul>
                <li>
                  <a href="">
                    <i class="fa fa-chevron-left"></i>
                    <i class="fa fa-chevron-left"></i>
                  </a>
                <li>
                  <a href="" class="active">1</a>
                </li>
                <li>
                  <a href="">2</a>
                </li>
                <li>
                  <a href="">3</a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-chevron-right"></i>
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </li>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="right_post col-lg-3">
          <div class="sidebar_post row">
            <div class="col-md-6 col-lg-12">
              <div class="speaker__infor">
                <div class="heading_speaker">
                  <h3>Thông tin người phát ngôn</h3>
                </div>
                <div class="body_speaker">
                  <div class="item-infor">
                    <span>Họ và tên:</span>
                    Đặng Bá Dự
                  </div>
                  <div class="item-infor">
                    <span>Chức vụ:</span>
                    Giám đốc
                  </div>
                  <div class="item-infor">
                    <span>Số điện thoại:</span>
                    0905666999 (02353852641)
                  </div>
                  <div class="item-infor">
                    <span>Email:</span>
                    dudb@quangnam.gov.vn
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12">
              <div class="banner__images">
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_1.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_2.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_3.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_4.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_5.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_6.png" alt="">
                </a>
                <a href="">
                  <img src="../assets/images/post_categories/image_banner_7.png" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="sidebar_support">
            <div class="heading_support">
              <h3>Hỗ trợ trực tuyến</h3>
            </div>
            <div class="body_support">
              <div class="item_support">
                Bộ phận tiếp nhận và trả kết quả:
                <span>Hoàng Thị Kim Oanh</span>
              </div>
              <div class="item_support">
                Số điện thoại:
                <span>(0235).3.815.806</span>
              </div>
            </div>
          </div>
          <div class="sidebar_need_know">
            <div class="heading_need_know">
              <h3>Hỗ trợ trực tuyến</h3>
            </div>
            <div class="body_need_know">
              <ul>
                <li><a href="">Tỷ giá ngoại lệ</a></li>
                <li><a href="">Giá cả thị trường</a></li>
                <li><a href="">Du lịch Quảng Nam</a></li>
                <li><a href="">Lịch cắt điện</a></li>
              </ul>
            </div>
          </div>
          <div class="sidebar_link_web">
            <div class="heading_link_web">
              <h3>Hỗ trợ trực tuyến</h3>
            </div>
            <div class="body_link_web">
              <select name="" id="">
                <option value="">Bộ Công Thương</option>
                <option value="">Báo Quảng Nam</option>
                <option value="">Bưu điện Quảng Nam</option>
                <option value="">Bộ Thư Pháp</option>
                <option value="">Sở Ngoại vụ</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row ms-0 me-0">
        <div class="footer__header">
          <div class="footer__header__link">
            <a href="#">Trang chủ</a>
            <span>|</span>
            <a href="#">Giới thiệu</a>
          </div>
        </div>
        <div class="footer__body">
          <div class="row">
            <div class="footer_left col-md-9">
              <div class="copyright">
                <b>Portal Sở Công Thương Quảng Nam</b>
                <br>
                <b>Đơn vị quản lý:&nbsp;</b>
                <span>Sở Công Thương tỉnh Quảng Nam</span>
                <br>
                <b>Chịu trách nhiệm chính:&nbsp;</b>
                <span>Đặng Bá Dự - Giám đốc Sở</span>
                <br>
                <b>Điện thoại:&nbsp;</b>
                <span>(0235).3852 641 -</span>
                <b>&nbsp;Fax:&nbsp;</b>
                <span>(0235).3859130 -</span>
                <b>&nbsp;Email:&nbsp;</b>
                <span>socongthuongqnam@gmail.com - sct@quangnam.gov.vn</span>
                <br>
                <span>Ghi rõ nguồn congthuong.quangnam.gov.vn khi sử dụng thông tin trên website này.</span>
                <span>Giấy phép số 02/GP-TTĐT do Sở Thông tin và Truyền thông tỉnh Quảng Nam cấp ngày 21 tháng 4 năm 2020.</span>
              </div>
            </div>
            <div class="footer_right col-md-3">
              <div class="static-footer text-center">

                <b>Tổng lượt truy cập</b>
                <h5>225,586</h5>
                <br>
                <b>Truy cập trong ngày</b>
                <h5>16</h5>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/jquery-3.7.1.min.js"></script>
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=7TYEXnKc"></script>
  <script src="../assets/js/script.js"></script>
</body>

</html>