/*---------------- LIBRARY FONT ----------------*/
@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-black-webfont.woff2) format('woff2'),
        url(../fonts/roboto-black-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-blackitalic-webfont.woff2) format('woff2'),
        url(../fonts/roboto-blackitalic-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-bold-webfont.woff2) format('woff2'),
        url(../fonts/roboto-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-bolditalic-webfont.woff2) format('woff2'),
        url(../fonts/roboto-bolditalic-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-italic-webfont.woff2) format('woff2'),
        url(../fonts/roboto-italic-webfont.woff2) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-light-webfont.woff2) format('woff2'),
        url(../fonts/roboto-light-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt-main-color: #212529;
    --txt-color-black: #000000;
    --txt-color-blue: #0680c9;
    --txt-color-time: #888;
    --txt-light-black: #333333;
    --txt-much-gray: #6C757D;
    --txt-header-color: #ffff;
    --txt-color-white: #ffff;
    --txt-navbar-checked-color: #ffff00;
    --txt-navbar-actived-color: #c40000;
    --bg-color-white: #ffff;
    --bg-color-red: #DD0F0F;
    --bg-color-gray: #E9ECEF;
    --bg-color-main-gray: #f4f5f6;
    --bg-color-news-header-start: #e6e6e6;
    --bg-color-news-header-end: #f7f7f7;
}

html {
    scroll-behavior: smooth scroll;
}

body {
    font-family: 'Roboto', sans-serif, arial;
    font-size: 14px;
    line-height: 1.4;
    line-height: 1.42857143;
    font-weight: 400;
    color: var(--txt-main-color);
}

.container {
    padding: 0 5px;
}

a {
    color: var(--txt-light-black);
}

/*---------------- HEADER ----------------*/
header {
    background-color: var(--bg-color-main-gray);
}

.img-banner {
    height: 124px;
    overflow: hidden;
}

.img-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar__web .nav {
    font-weight: bold;
    background-color: var(--bg-color-red);
    height: 39px;
    padding: 0;
}

.navbar__web .nav-link {
    height: 100%;
    padding: 10px 14px;
    justify-content: start;
    color: var(--txt-header-color);
    font-size: 13.5px;
}


.nav-link.active {
    color: var(--txt-navbar-checked-color);
}

.nav-link:hover {
    color: var(--txt-navbar-checked-color);
    cursor: pointer;
}

/*---------------- FOOTER ----------------*/
footer {
    background-color: var(--bg-color-main-gray);
}

.footer__header {
    display: flex;
    color: var(--txt-header-color);
    background-color: var(--bg-color-red);
    height: auto;
    align-items: center;
    justify-content: center;
}

.footer__header * {
    margin: 0;
    padding: 0;
}

.footer__header .footer__header__link {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

/* a {
    text-decoration: none;
    color: var(--txt-header-color);
} */


a:hover {
    text-decoration: none;
    color: var(--txt-header-color);
}

.footer__body {
    display: flex;
    background-color: var(--bg-color-white);
    min-height: 300px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer__body__left {
    display: block;
    min-width: 60%;
    max-width: 80%;
    text-align: center;
    align-items: center;
    justify-content: stretch;
}

.footer__body__left * {
    margin: 0px 20px 0px 20px;
    align-items: center;
    justify-content: stretch;
}

.footer__body_right {
    display: block;
    min-width: 20%;
    max-width: 50%;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: stretch;
}

.footer__body_left__contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__body_left__contact-info * {
    margin: 0px 5px 0px 5px;
    align-items: center;
    justify-content: flex-start;
}

.footer__body_left__title {
    font-weight: bold;
    margin: 0;
}

main {
    background-color: var(--bg-color-main-gray);
    padding: 10px 0;
}

.left_home {}

.left_post {
    padding: 0;
}

/*---------------- post ----------------*/
.news {
    background-color: var(--bg-color-white);
    margin: 0px 0px 10px;
    padding: 10px;
}

.content__news {
    height: 300px;
    /* padding: 10px; */
    /* width: 65%; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .info {
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--txt-color-white);
}

.info a {
    text-decoration: none;
    color: var(--txt-color-white);
}

.swiper-slide .image {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .content {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    text-align: left;
    padding: 10px;
}

.info .content * {
    margin: 0;
    font-size: 14px;
}

.info .content .title {
    font-size: 16px;
    font-weight: bold;
}

.newest {
    padding: 0px 5px;
}

.newset .newest-header {
    width: auto;
    height: 36px;
}

.newest-header .bg-header {
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg-color-news-header-start), var(--bg-color-news-header-end));
}

.newest-header .nav {
    padding: 5px 0px 0px 15px;
}

.newest-header .nav-link {
    padding: 4px 10px;
    color: var(--txt-light-black);
    font-size: 15px;
}

.newest-header .nav-link.active {
    color: var(--txt-navbar-actived-color);
    font-weight: bold;
}

.newest-header .nav-link:hover {
    color: var(--txt-navbar-actived-color);
}

.lists a {
    text-decoration: none;
    font-size: 14px;
}

.lists a:hover {
    color: var(--txt-navbar-actived-color);
}

.lists li:not(:last-child) {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

.lists li {
    position: relative;
    padding-left: 12px;
}

.hot-news .scroll-hot-news {
    height: 270px;
}

.hot-news .lists {
    padding-right: 10px;
}

.scroll-hot-news ul li {
    text-align: justify;
}

.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
}

.mCSB_scrollTools {
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools {
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

/*---------------- post ----------------*/
.post__main {
    padding: 10px 0;
}

.infor_detail_post {
    padding: 10px 10px;
    background-color: var(--bg-color-white);
}

.left_post .breadcrumb {
    padding: 0.75rem 1rem;
    background-color: var(--bg-color-gray);
}

.breadcrumb-item,
.breadcrumb-item a {
    color: var(--txt-light-black);
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item.active a {
    color: var(--txt-much-gray);
}

.sumary {}

.detail {}

.head_post {
    margin-bottom: 1.5rem;
}

.head_post .title {
    font-size: 28px;
    font-weight: 700;
    color: var(--txt-color-blue);
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}

.infor_time_post {
    display: flex;
}

.infor_time_post .calendar,
.infor_time_post .number_views,
.list_related .calendar,
.item_post_cate .calendar {
    font-style: italic;
    font-size: 13px;
    margin-left: 7px;
    color: var(--txt-color-time);
}

.list_action_post {
    margin-top: 12px;
    text-align: right;
    font-size: 14px;
}

.list_action_post .item-action a {
    text-decoration: none;
    color: var(--txt-light-black);
    transition: all 0.2s;
}

.list_action_post .item-action a:hover {
    color: var(--bg-color-red);
}

.list_action_post .line_left {
    position: relative;
}

.list_action_post .line_left::before {
    content: '|';
    margin-left: 8px;
    padding-right: 8px;
    display: inline-block;
    color: var(--txt-light-black);
}

.list_action_post .audio_action span {
    margin-right: 2px;
}

.list_action_post .audio_action a {
    margin: 0 5px;
    font-size: 16px;
    display: flex-inline;
    align-items: center;
}

.content_post {
    color: var(--txt-main-color);
    padding: 5px;
}

.content_post.active {
    background-color: var(--txt-color-black);
    color: var(--bg-color-white);
}

.content_post .sub_title {
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
}

.content_post_detail .sub_title_level {
    font-size: 10pt;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
}

.content_post_detail .content {
    padding: 0 0 5px 20px;
}

.content_post_detail .content p {
    text-align: justify;
    line-height: 14.25pt;
    font-size: 10pt;
    text-indent: 25px;
}

.sumary .list_media {
    text-align: right;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.sumary .list_media ul {
    display: inline-flex;
    padding-left: 10px;
}

.sumary .list_media ul li {
    list-style-type: none;
    margin-right: 10px;
}

.sumary .list_media ul li a {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
}

.sumary .list_media ul li a:hover {
    background-color: var(--txt-color-blue);
}

.sumary .list_media ul li a i {
    font-size: 14px;
}

.sumary .related_post .head_related {
    background-image: linear-gradient(#e6e6e6, #ffffff);
    margin-bottom: 10px;
    border-bottom: 2px solid var(--bg-color-red);
}

.sumary .related_post .head_related h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--txt-light-black);
    padding: 5px 4px 10px 5px;
}

.sumary .related_post .list_related ul {
    padding-left: 15px;
}

.sumary .related_post .list_related ul li {
    list-style-type: square;
    color: var(--bg-color-red);
}

.sumary .related_post .list_related ul a {
    text-decoration: none;
    color: var(--txt-light-black);
    transition: all 0.2s;
}

.sumary .related_post .list_related ul a:hover {
    color: var(--bg-color-red);
}

.speaker__infor {
    border: 1px solid #dedede;
    margin-bottom: 5px;
}

.speaker__infor .heading_speaker {
    border-bottom: 2px solid red;
    background: linear-gradient(#e6e6e6, #ffffff);
    padding: 8px 10px;
}

.speaker__infor .heading_speaker h3 {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--bg-color-red);
    margin-bottom: 0;
    text-align: center;
}

.speaker__infor .body_speaker {
    padding: 10px;
}

.speaker__infor .body_speaker .item-infor {
    margin-bottom: 0.5rem;
}

.speaker__infor .body_speaker span {
    font-weight: 700;
    margin-right: 5px;
}

.banner__images a {
    margin-bottom: 5px;
    display: block;
}

.banner__images img {
    width: 100%;
}

.sidebar_support,
.sidebar_need_know,
.sidebar_link_web {
    border: 1px solid #dedede;
    margin-bottom: 5px;
}

.sidebar_support .heading_support,
.sidebar_need_know .heading_need_know,
.sidebar_link_web .heading_link_web {
    border-bottom: 2px solid red;
    background: linear-gradient(#e6e6e6, #ffffff);
    padding: 8px 10px;
}

.sidebar_support .heading_support h3,
.sidebar_need_know .heading_need_know h3,
.sidebar_link_web .heading_link_web h3 {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--bg-color-red);
    margin-bottom: 0;
    text-align: center;
}

.sidebar_support .body_support,
.sidebar_need_know .body_need_know,
.sidebar_link_web .body_link_web {
    padding: 10px;
    background-color: white;
}

.sidebar_support .body_support .item_support {
    margin-bottom: 0.5rem;
}

.sidebar_support .body_support .item_support span {
    font-weight: bold;
}

.sidebar_need_know .body_need_know ul {
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar_need_know .body_need_know ul li {
    position: relative;
    padding-bottom: 5px;
    color: var(--bg-color-red);
    list-style: none;
    padding-left: 15px;
}

.sidebar_need_know .body_need_know ul li:not(:last-child) {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}

.sidebar_need_know .body_need_know ul li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #dd0f0f;
    position: absolute;
    top: 8px;
    left: 0;
}

.sidebar_need_know .body_need_know ul li a {
    text-decoration: none;
    transition: all 0.2s;
}

.sidebar_need_know .body_need_know ul li a:hover {
    color: var(--bg-color-red);
}

.sidebar_link_web .body_link_web select {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #ccc;
    color: var(--txt-light-black);
}


/*----------------Categories post ----------------*/
.list_post_cate .item_post_cate {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.item_post_cate {
    display: flex;
}

.item_post_cate .left_post_cate {
    margin-right: 20px;
}

.item_post_cate .left_post_cate .img_post_cate {
    width: 282px;
}

.item_post_cate .left_post_cate .img_post_cate img {
    width: 100%;
}

.list_post_cate .item_post_cate:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.item_post_cate h3 {
    font-size: 16px;
    font-weight: 700;
}

.item_post_cate h3 a {
    color: var(--txt-light-black);
    text-decoration: none;
    transition: all 0.2s;
}

.item_post_cate h3 a:hover {
    color: var(--bg-color-red);
}

.desc_post_cate {
    margin: 5px 0;
}

.desc_post_cate p {
    margin: 0;
}

.btn_view_post {
    text-align: right;
}

.btn_view_post a {
    text-decoration: none;
    font-weight: bold;
    color: var(--txt-color-blue);
    font-style: italic;
    font-size: 14px;
}

.pagination_post {
    padding-top: 20px;
    text-align: center;
}

.pagination_post ul {
    display: inline-flex;
}

.pagination_post ul li {
    list-style: none;
}

.pagination_post ul li a {
    text-decoration: none;
    color: var(--txt-color-blue);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0.5px solid #ddd;
    padding: 0.5rem 0.75rem;
}

.pagination_post ul li a:last-child {
    border-right: 0.5px solid #ddd;
}

.pagination_post ul li a.active,
.pagination_post ul li a:hover,
.pagination_post ul li a:hover i {
    background-color: var(--txt-color-blue);
    color: var(--bg-color-white);
    border: 0.5px solid var(--txt-color-blue);
}

.pagination_post ul li a i {
    font-weight: normal;
    font-size: 10px;
    color: var(--txt-color-blue);
}

.pagination_post ul li a i:not(:first-child) {
    margin-left: -5px;
}

/*----------------Member----------------*/
.member_organize .title-member {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.list_person_member table tbody td {
    text-align: left;
}

.list_person_member table tbody td:first-child {
    text-align: center;
}

.list_person_member table .avatar_member {
    width: 75px;
    height: 75px;
    margin: auto;
}

.list_person_member table .avatar_member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list_person_member table .number_member a,
.list_person_member table .email_member a {
    text-decoration: none;
}

.list_person_member table .number_member a:hover,
.list_person_member table .email_member a:hover {
    color: var(--bg-color-red);
}

.table>:not(caption)>*>* {
    padding: 0.75rem 0.5rem;
}

.list_person_member table .name_member span,
.list_person_member table .position span {
    font-weight: 700;
}

.list_person_member table .position {
    margin-top: 5px;
}








/*---------------- RESPONSE ----------------*/
@media screen and (min-width: 1200px) {

    body.af_document .container,
    body.af_document .container-lg,
    body.af_document .container-md,
    body.af_document .container-sm,
    body.af_document .container-xl,
    body div.container,
    body div.container-lg,
    body div.container-md,
    body div.container-sm,
    body div.container-xl {
        max-width: 1140px !important;
    }
}