
/*---------------- LIBRARY FONT ----------------*/
@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-black-webfont.woff2) format('woff2'),
        url(../fonts/roboto-black-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-blackitalic-webfont.woff2) format('woff2'),
        url(../fonts/roboto-blackitalic-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-bold-webfont.woff2) format('woff2'),
        url(../fonts/roboto-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-bolditalic-webfont.woff2) format('woff2'),
        url(../fonts/roboto-bolditalic-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-italic-webfont.woff2) format('woff2'),
        url(../fonts/roboto-italic-webfont.woff2) format('woff');
}

@font-face {
    font-family: 'Roboto', sans-serif, arial;
    src: url(../fonts/roboto-light-webfont.woff2) format('woff2'),
        url(../fonts/roboto-light-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt-main-color: #212529;
    --txt-color-black: #000000;
    --txt-light-black: #333333;
    --txt-much-gray:#6C757D;
    --txt-header-color: #ffff;
    --txt-navbar-checked-color: #ffff00;
    --background-color: #ffff;
    --bg-color-red:#DD0F0F;
    --bg-color-gray:#E9ECEF;
    --bg-color-main-gray:#f4f5f6;
}

body {
    font-family: 'Roboto', sans-serif, arial;
    font-size: 14px;
    line-height: 1.4;
    line-height: 1.42857143;
    font-weight: 400;
    color: var(--txt-main-color);
}

.container{
    padding-right: 5px;
    padding-left: 5px;
}


/*---------------- HEADER ----------------*/
.header-banner {
    background-image: url("../img/header-banner.jpg");
    height: 124px;
}

.navbar__web nav {
    color: var(--txt-header-color);
    font-weight: bold;
    background-color: var(--bg-color-red);
    height: auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 10px;
    padding: 2px 5px 2px 5px;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

.navbar__item__active {
    color: var(--txt-navbar-checked-color);
}

.navbar__item:hover {
    color: var(--txt-navbar-checked-color);
    cursor: pointer;
}

/*---------------- FOOTER ----------------*/
.footer__header {
    display: flex;
    color: var(--txt-header-color);
    background-color: var(--bg-color-red);
    height: auto;
    align-items: center;
    justify-content: center;
}

.footer__header * {
    margin: 0;
    padding: 0;
}

.footer__header .footer__header__link {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--txt-header-color);
}

a:hover {
    text-decoration: none;
    color: var(--txt-header-color);
}

.footer__body {
    display: flex;
    background-color: var(--background-color);
    min-height: 300px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer__body__left {
    display: block;
    min-width: 60%;
    max-width: 80%;
    text-align: center;
    align-items: center;
    justify-content: stretch;
}

.footer__body__left * {
    margin: 0px 20px 0px 20px;
    align-items: center;
    justify-content: stretch;
}

.footer__body_right {
    display: block;
    min-width: 20%;
    max-width: 50%;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: stretch;
}

.footer__body_left__contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__body_left__contact-info * {
    margin: 0px 5px 0px 5px;
    align-items: center;
    justify-content: flex-start;
}

.footer__body_left__title {
    font-weight: bold;
    margin: 0;
}

main{
    background-color: var(--bg-color-main-gray);
}
.left_about{
    background-color: var(--txt-header-color);
}
/*---------------- ABOUT ----------------*/
.about__main{
    padding: 10px 0;
}
.left_about .breadcrumb{
    padding: 0.75rem 1rem;
    background-color: var(--bg-color-gray);
}
.breadcrumb-item, .breadcrumb-item a{
    color: var(--txt-light-black);
}
.breadcrumb-item + .breadcrumb-item{
    padding-left: 0.5rem;
}
.breadcrumb-item.active a{
    color: var(--txt-much-gray);
}




/*---------------- RESPONSE ----------------*/
@media screen and (min-width: 1200px) {
    body.af_document .container, body.af_document .container-lg, body.af_document .container-md, body.af_document .container-sm, body.af_document .container-xl, body div.container, body div.container-lg, body div.container-md, body div.container-sm, body div.container-xl{
        max-width: 1140px !important;
    }
}