<footer>
    <div class="container">
      <div class="row ms-0 me-0">
        <div class="footer__header">
          <div class="footer__header__link">
            <a href="#">Trang chủ</a>
            <span>|</span>
            <a href="#">Giới thiệu</a>
          </div>
        </div>
        <div class="footer__body">
          <div class="row">
            <div class="footer_left col-md-9">
              <div class="copyright">
                <b>Portal Sở Công Thương Quảng Nam</b>
                <br>
                <b>Đơn vị quản lý:&nbsp;</b>
                <span>Sở Công Thương tỉnh Quảng Nam</span>
                <br>
                <b>Chịu trách nhiệm chính:&nbsp;</b>
                <span>Đặng Bá Dự - Giám đốc Sở</span>
                <br>
                <b>Điện thoại:&nbsp;</b>
                <span>(0235).3852 641 -</span>
                <b>&nbsp;Fax:&nbsp;</b>
                <span>(0235).3859130 -</span>
                <b>&nbsp;Email:&nbsp;</b>
                <span>socongthuongqnam@gmail.com - sct@quangnam.gov.vn</span>
                <br>
                <span>Ghi rõ nguồn congthuong.quangnam.gov.vn khi sử dụng thông tin trên website này.</span>
                <span>Giấy phép số 02/GP-TTĐT do Sở Thông tin và Truyền thông tỉnh Quảng Nam cấp ngày 21 tháng 4 năm 2020.</span>
              </div>
            </div>
            <div class="footer_right col-md-3">
              <div class="static-footer text-center">

                <b>Tổng lượt truy cập</b>
                <h5>225,586</h5>
                <br>
                <b>Truy cập trong ngày</b>
                <h5>16</h5>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>