<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="description 1, description 2">
  <meta name="keywords" content="business">
  <meta name="author" content="Bao Nhan - Tan Tu">
  <meta name="MobileOptimized" content="320">

  <!-- file syle ở dưới vì đôi khi cần ghi đè bootstrap hoặc thư viện css khác,
     quy tắt là ưu tiên trên xuống dưới -->
  <link rel="stylesheet" href="../public/app/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/app/assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../public/app/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;600;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="../public/app/assets/images/logo-header.png">
  <title>Cổng thông tin điện tử - SỞ CÔNG THƯƠNG HỘI AN</title>
</head>

<body>
   <%- include('./components/header') -%>
  <main>
    <div class="container">
        <div class="post__main row ms-0">
            <div class="left_post col-lg-9">
                <section class="infor_detail_post">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                        </ol>
                    </nav>
                    <div class="sumary">
                      <div class="detail">
                        <div class="head_post">
                          <h2 class="title">Giới thiệu chung tỉnh Quảng Nam</h2>
                          <div class="infor_time_post">
                            <div class="calendar">
                              <i class="fa fa-clock-o"></i>
                              <span>24/11/2023 | 08:27 AM</span>
                            </div>
                            <div class="number_views">
                              <i class="fa fa-eye"></i>
                              <span>1000</span>
                            </div>
                          </div>
                          <div class="list_action_post">
                            <span class="item-action">
                              <a href="" id="btn_print">
                                <i class="fa fa-print"></i>
                                In
                              </a>
                            </span>
                            <span class="item-action line_left">
                              <a href="">
                                <i class="fa fa-envelope-o"></i>
                                Gửi Email
                              </a>
                            </span>
                            <span class="item-action line_left">
                              <a href="" id="id_upsize">
                                <i class="fa fa-search-plus"></i>
                                Phóng to
                              </a>
                            </span>
                            <span class="item-action line_left">
                              <a href="" id="id_downsize">
                                <i class="fa fa-search-minus"></i>
                                Thu nhỏ
                              </a>
                            </span>
                            <span class="item-action line_left">
                              <a href="" id="id_contrast">
                                <i class="fa fa-adjust "></i>
                                Tương phản
                              </a>
                            </span>
                            <div class="item-action line_left d-inline audio_action">
                              <span>Đọc bài Viết</span>
                              <a href="" id="id_btn_read" title="Đọc nội dung bên dưới">
                                <i class="fa fa-play"></i>
                              </a>
                              <a href="" id="id_btn_pause" title="Dừng lại việt đọc">
                                <i class="fa fa-pause"></i>
                              </a>
                              <a href="" id="id_btn_resum" title="Tiếp tục đọc">
                                <i class="fa fa-forward"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="content_post" id="id-content-post">
                          <span class="sub_title">Giới thiệu chung tỉnh Quảng Nam</span>
                          <div class="content_post_detail">
                            <span class="sub_title_level">1. Địa lý hành chính</span>
                            <div class="content">
                              <p>
                                Quảng Nam có tọa độ địa lý từ 108026’16” đến 108044’04” độ kinh Đông, và từ 15023’38” đến 15038’43” độ vĩ Bắc. Phía bắc giáp thành phố Đà Nẵng và tỉnh Thừa Thiên Huế, phía nam giáp tỉnh Quảng Ngãi và tỉnh Kon Tum, phía đông giáp biển Đông, phía tây giáp tỉnh Sê Kông của nước Cộng hòa Dân chủ Nhân dân Lào. Hiện nay Quảng Nam có hai thành phố trực thuộc tỉnh là Tam Kỳ và Hội An cùng 16 huyện trải rộng từ miền núi đến vùng đồng bằng và duyên hải. Trung tâm hành chính của tỉnh Quảng Nam đặt tại thành phố Tam Kỳ.
                              </p>
                              <p>
                                Quảng Nam có địa hình nghiêng dần từ tây sang đông, hình thành ba kiểu cảnh quan sinh thái rõ rệt là: kiểu núi cao ở phía tây,kiểu trung du ở giữa và dải đồng bằng ven biển ở phía đông. Vùng đồi núi chiếm 72% diện tích tự nhiên với nhiều ngọn núi cao trên 2.000m như: núi Lum Heo cao 2.045m, núi Tiên cao 2.032m (Phước Sơn), Hòn Tà Xiêu cao 2.053m (Tây Giang), núi Ngọc Niay cao 2.259m, Ngọc Kring cao 2.025m, núi Ngọc Linh cao 2.598m (nằm giữa ranh giới Quảng Nam và Kon Tum, là đỉnh núi cao nhất của dãy Trường Sơn). Ngoài ra, vùng ven biển phía đông sông Trường Giang là dải cồn cát chạy dài từ Điện Ngọc (Điện Bàn) đến Tam Quan (Núi Thành). Bề mặt địa hình bị chia cắt bởi sông Thu Bồn, sông Tam Kỳ và sông Trường Giang.
                              </p>
                              <p>
                                Quảng Nam nằm trong vùng khí hậu nhiệt đới, chỉ có 2 mùa rõ rệt là mùa mưa và mùa khô. Nhiệt độ trung bình 25,4oC, mùa đông nhiệt độ vùng đồng bằng có thể xuống dưới 20oC. Độ ẩm trung bình trong không khí đạt 84%. Lượng mưa trung bình 2.000 - 2.500mm, nhưng phân bố không đều theo thời gian và không gian, mưa tập trung từ tháng 9 đến tháng 12, chiếm 80% lượng mưa cả năm; mùa mưa trùng với mùa bão, nên các cơn bão đổ bộ vào miền Trung thường gây ra lở đất, lũ quét ở các huyện trung du miền núi và gây ngập lũ ở các vùng ven sông của tỉnh.
                              </p>
                              <p>
                                Hệ thống sông ngòi ở Quảng Nam dày đặc. Thu Bồn là một trong những con sông lớn của Quảng Nam có tổng diện tích lưu vực khoảng 9.000km2, sông Tam Kỳ có diện tích lưu vực 800km2, ngoài ra còn có các sông có lưu vực khá lớn như: Cu Đê (400km2), Túy Loan (300km2), Li Li (280km2). Các sông này có lưu lượng dòng chảy lớn, đầy nước quanh năm, có giá trị lớn về thủy điện, giao thông cũng như thủy nông. Hiện tại, trên hệ thống sông Thu Bồn, nhiều nhà máy thủy điện có công suất lớn như: thủy điện Sông Tranh I, thủy điện Sông Tranh II, thủy điện Sông A Vương, thủy điện Sông Bung... đang được xây dựng, góp phần cung cấp điện cho nhu cầu sử dụng trong cả nước.
                              </p>
                            </div>
                            <span class="sub_title_level">2. Dân cư dân số</span>
                            <div class="content">
                              <p>
                                Theo kết quả điều tra đến ngày 1.4.2009, tổng số dân trên địa bàn tỉnh Quảng Nam là 1.419.503 người, xếp thứ 19/63 tỉnh, thành trong cả nước và đứng thứ 4 ở khu vực miền Trung. Dân số nữ có 727.138 người (tỉ lệ 51,22%). Dân số phân bố không đồng đều và có sự khác biệt lớn theo vùng, theo mô hình thưa dần từ đông sang tây, phụ thuộc lớn vào địa hình. Tỉ lệ dân ở khu vực thành thị tăng 3,82% trong khi ở nông thôn dân giảm 2,87%.
                              </p>
                              <p>
                                Từ năm 1999 đến 2009, dân số tỉnh Quảng Nam tăng thêm 45.016 người. Qua 3 kỳ điều tra, dân số tăng bình quân năm giảm dần, từ 1,96% (1979 - 1989) còn 1,26% (1989 - 1999) và chỉ còn 0,33% (1999 - 2009). Được biết, tỉ lệ tăng dân số hằng năm ở khu vực miền Trung là 0,41%/năm, cả nước là 1,2%/năm.
                              </p>
                            </div>
                            <span class="sub_title_level">3. Tiềm năng, lợi thế nổi bật</span>
                            <div class="content">
                              <span>3.1. Tài nguyên đất</span>
                              <p>
                                Quảng Nam có tổng diện tích tự nhiên là 1.040.683 ha được hình thành từ 9 loại đất khác nhau, gồm các cồn cát và đất cát ven biển, đất phù sa sông, đất phù sa biển, đất xám bạc màu, đất đỏ vàng, đất thung lũng, đất bạc màu xói mòn trơ sỏi đá... Trong đó, nhóm đất phù sa ven sông là nhóm quan trọng nhất trong phát triển cây lương thực, thực phẩm và cây công nghiệp ngắn ngày. Nhóm đất đỏ vàng vùng đồi núi thuận lợi cho việc trồng rừng, cây công nghiệp và cây ăn quả dài ngày. Nhóm đất cát ven biển đang được khai thác cho mục đích nuôi trồng thủy sản.
                              </p>
                              <p>
                                Trong tổng diện tích 1.040.683 ha, diện tích đất lâm nghiệp chiếm tỉ lệ lớn nhất (49,4%), kế tiếp là đất dành cho sản xuất nông nghiệp, đất thổ cư và đất chuyên dùng. Diện tích đất trống đồi trọc, đất cát ven biển chưa được sử dụng còn chiếm diện tích lớn.
                              </p>
                              <span>3.2. Tài nguyên rừng</span>
                              <p>
                                Tỉnh Quảng Nam có 425.921 ha rừng, tỉ lệ che phủ đạt 40,9%; trữ lượng gỗ của tỉnh khoảng 30.000.000m3. Diện tích rừng tự nhiên là 388.803 ha, rừng trồng là 37.118 ha. Rừng già ở Quảng Nam hiện có khoảng 10.000 ha, phân bố ở các đỉnh núi cao, diện tích rừng còn lại chủ yếu là rừng nghèo, rừng trung bình và rừng tái sinh, có trữ lượng gỗ khoảng 69m3/ha. Các khu bảo tồn thiên nhiên trên địa bàn tỉnh chủ yếu thuộc huyện Nam Giang.
                              </p>
                              <span>3.3. Tiềm năng thủy điện</span>
                              <p>
                                Quảng Nam có hệ thống sông ngòi dày đặc với tổng chiều dài khoảng 900 km, trong đó có 337km đã đưa vào khai thác, bao gồm 9 con sông chính. Sông ở Quảng Nam có dòng chảy luôn luôn thay đổi, luân chuyển dòng và bị bồi lắng hoặc xói lở vào mùa mưa lũ. Vấn đề quan trọng là phải xây dựng các công trình thủy lợi ở thượng lưu các con sông kết hợp xây dựng các trạm thủy điện vừa và nhỏ như: thủy điện Sông Tranh I, thủy điện Sông Tranh II, thủy điện Sông A Vương, thủy điện Sông Bung... nhằm hạn chế lũ lụt và cung cấp nước về mùa khô cho vùng đồng bằng ven biển, tạo tiền đề bền vững cho phát triển nông nghiệp, công nghiệp, du lịch, đô thị và nước sạch cho dân cư đô thị.
                              </p>
                              <span>Tài nguyên thủy sản</span>
                              <p>
                                Quảng Nam có bờ biển dài trên 125km và thềm lục địa rộng lớn, có nguồn hải sản vô cùng phong phú thuộc vùng biển Nam Trung bộ. Theo số liệu của Viện Quy hoạch thủy sản thì vùng biển Nam Trung bộ có trữ lượng cá khoảng 42 vạn tấn, khả năng đánh bắt hàng năm 20 vạn tấn, trữ lượng mực 7.000 tấn, tôm biển 4.000 tấn. Với những tiềm năng và lợi thế kể trên, Quảng Nam có điều kiện để phát triển ngành đánh bắt xa bờ cũng như ngành nuôi trồng thủy sản ở các vùng ven sông, ven biển và ở quần đảo Cù Lao Chàm...
                              </p>
                              <span>3.5. Tài nguyên khoáng sản </span>
                              <p>
                                Theo đánh giá chung của các nhà nghiên cứu thì nguồn tài nguyên khoáng sản của Quảng Nam là một tiềm năng đang được khai thác, mang lại hiệu quả kinh tế cho tỉnh với nhiều loại đa dạng và phong phú. Trong đó đáng kể là than đá ở Nông Sơn có trữ lượng khoảng 10 triệu tấn, đã và đang khai thác với sản lượng năm cao nhất đạt khoảng 5 vạn tấn/năm. Ngoài ra còn có mỏ than Ngọc Kinh (trữ lượng khoảng 4 triệu tấn) nhưng đã ngừng khai thác từ năm 1994 vì không có khả năng khai thác công nghiệp; vàng gốc và vàng sa khoáng ở Bồng Miêu, Du Hiệp, Trà Dương, riêng ở Bồng Miêu đã và đang khai thác với sản lượng khoảng vài trăm kg/năm; cát trắng công nghiệp là khoáng sản có trữ lượng lớn, phân bố chủ yếu ở khu vực các huyện Thăng Bình, Núi Thành.
                              </p>
                              <p>
                                Trên địa bàn Quảng Nam đã thăm dò được 18 mỏ nước khoáng và nước ngọt có chất lượng tốt. Các loại khoáng sản như khí metan, uranium, nguyên liệu làm xi măng (đá vôi) được đánh giá là giàu nhất trong các tỉnh, thành thuộc khu vực phía nam. Ngoài ra, các  khoáng sản khác như đá granite, đất sét, cát sợi titan, thiếc, cao lanh, mi ca và các loại nguyên liệu cung cấp cho xây dựng, sành sứ, thủy tinh... được phân bố tại nhiều nơi trong tỉnh.
                              </p>
                              <span>3.6. Tài nguyên du lịch</span>
                              <p>
                                Quảng Nam là một trong những tỉnh, thành có chiều dài bờ biển lớn nhất ở khu vực duyên hải Nam Trung bộ, với nhiều bãi tắm sạch đẹp và thơ mộng nằm ở khu vực Điện Bàn, Hội An, Tam Kỳ, Núi Thành... không bị ô nhiễm, độ dốc ít, cát mịn và độ mặn vừa phải, nước biển xanh và khí hậu biển rất lý tưởng cho việc phát triển các loại hình du lịch nghỉ dưỡng. Bên cạnh đó, còn có quần đảo Cù Lao Chàm được UNESCO công nhận là Khu dự trữ sinh quyển thế giới vào tháng 5.2009, cùng 10 hồ nước (với 6.000 ha mặt nước, khoảng 11.000 ha rừng xung quanh khu vực hồ và 40 đảo trong các hồ) là một trong những tiềm năng lớn để phát triển du lịch Quảng Nam. Ngoài ra, hai di sản văn hóa thế giới là Đô thị cổ Hội An, Thánh địa Mỹ Sơn và nhiều di tích lịch sử văn hóa (LSVH) cùng với nhiều loại hình hoạt động văn hóa như hát tuồng, hát đối, hô bài chòi, dân ca, hát hò khoan… và các quần thể kiến trúc khác đã tạo nên những điểm thu hút khách du lịch đến tham quan, tìm hiểu.
                              </p>
                              <p>
                                Cùng với những tài nguyên và di sản đó, Quảng Nam còn có nhiều làng nghề sản xuất hoa màu, thủ công mỹ nghệ truyền thống cùng những vùng đồng ruộng, sông nước vẫn giữ nguyên nét điển hình của làng quê Việt Nam, hội đủ các yếu tố phát triển du lịch đồng quê, du lịch làng nghề, làm đa dạng các loại hình du lịch, tạo thêm sức hấp dẫn đối với du khách.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="media_social">
                           <div class="list_media">
                            <span>Chia sẻ: </span>
                            <ul>
                              <li>
                                <a href="" id="id_facebook_redirect" target="_blank"><i class="fa fa-facebook"></i>
                                </a>
                              </li>
                              <li>
                                <a href="" id="id_twitter_redirect" target="_blank">
                                  <i class="fa fa-twitter"></i>
                                </a>
                              </li>
                            </ul>
                           </div>
                        </div>
                        <div class="related_post">
                          <div class="head_related">
                            <h3>Tin liên quan</h3>
                          </div>
                          <div class="list_related">
                            <ul>
                              <li>
                                <a href="">Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</a>
                                <span class="calendar">12/10/2023 | 08:08 AM</span>
                              </li>
                              <li>
                                <a href="">Sửa đổi, bổ sung Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở ban hành kèm theo Quyết định số 180/QĐ-SCT ngày 13/10/2022 của Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                                <span class="calendar">12/10/2023 | 08:08 AM</span>
                              </li>
                              <li>
                                <a href="">Quyết định phân công nhiệm vụ Giám đốc, các Phó Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                                <span class="calendar">12/10/2023 | 08:08 AM</span>
                              </li>
                              <li>
                                <a href="">Quyết định ban hành Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở Công Thương</a>
                                <span class="calendar">12/10/2023 | 08:08 AM</span>
                              </li>
                              <li>
                                <a href="">Quyết định ban hành Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương tỉnh Quảng Nam</a>
                                <span class="calendar">12/10/2023 | 08:08 AM</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </section>
            </div>
            <div class="right_post col-lg-3">
              <div class="sidebar_post row">
                <div class="col-md-6 col-lg-12">
                  <div class="speaker__infor">
                    <div class="heading_speaker">
                      <h3>Thông tin người phát ngôn</h3>
                    </div>
                    <div class="body_speaker">
                      <div class="item-infor">
                        <span>Họ và tên:</span>
                        Đặng Bá Dự
                      </div>
                      <div class="item-infor">
                        <span>Chức vụ:</span>
                        Giám đốc
                      </div>
                      <div class="item-infor">
                        <span>Số điện thoại:</span>
                        0905666999 (02353852641)
                      </div>
                      <div class="item-infor">
                        <span>Email:</span>
                        dudb@quangnam.gov.vn
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="banner__images">
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_1.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_2.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_3.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_4.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_5.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_6.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_7.png" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="sidebar_support">
                <div class="heading_support">
                  <h3>Hỗ trợ trực tuyến</h3>
                </div>
                <div class="body_support">
                  <div class="item_support">
                    Bộ phận tiếp nhận và trả kết quả:
                    <span>Hoàng Thị Kim Oanh</span>
                  </div>
                  <div class="item_support">
                    Số điện thoại:
                    <span>(0235).3.815.806</span>
                  </div>
                </div>
              </div>
              <div class="sidebar_need_know">
                <div class="heading_need_know">
                  <h3>Hỗ trợ trực tuyến</h3>
                </div>
                <div class="body_need_know">
                  <ul>
                    <li><a href="">Tỷ giá ngoại lệ</a></li>
                    <li><a href="">Giá cả thị trường</a></li>
                    <li><a href="">Du lịch Quảng Nam</a></li>
                    <li><a href="">Lịch cắt điện</a></li>
                  </ul>
                </div>
              </div>
              <div class="sidebar_link_web">
                <div class="heading_link_web">
                  <h3>Hỗ trợ trực tuyến</h3>
                </div>
                <div class="body_link_web">
                  <select name="" id="">
                    <option value="">Bộ Công Thương</option>
                    <option value="">Báo Quảng Nam</option>
                    <option value="">Bưu điện Quảng Nam</option>
                    <option value="">Bộ Thư Pháp</option>
                    <option value="">Sở Ngoại vụ</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
    </div>
  </main>
  <%- include('./components/footer') -%>
  <script src="../public/app/assets/js/bootstrap.min.js"></script>
  <script src="../public/app/assets/js/jquery-3.7.1.min.js"></script>
  <script src="../public/app/assets/js/swiper-bundle.min.js"></script>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=7TYEXnKc"></script>
  <script src="../public/app/assets/js/script.js"></script>
</body>

</html>